<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="sidebar" >
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="active">
                <a class="" href="dashboard.html">
                    <i class="icon_house_alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="active">
                <a class="" href="dashboard.html">
                    <i class="icon_document_alt"></i>
                    <span>Forms</span>

                </a>
            </li>

            <li sec:authorize="hasAuthority('ADMIN')" class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_document_alt"></i>
                    <span>ADD</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul  class="sub">
                    <!--Add functionality -->
                    <li><a class="" th:href="@{/addvendor}">Add Vendor</a></li>
                    <li><a class="" th:href="@{/register}">Add User</a></li>
                    <li><a class="" th:href="@{/dashboard/admin/addpurchase}">Add Purchase</a></li>
                    <li><a class="" th:href="@{/dashboard/admin/addsales}">Add Sales</a></li>
                    <li><a class="" th:href="@{/addItem}">Add Item</a></li>
                    <!--<li><a class="" href="form_component.html">Add VendorPurchase</a></li>-->

                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_desktop"></i>
                    <span>Views</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" th:href="@{/vendorlist}">Vendor List</a></li>
                    <li><a class="" th:href="@{/userlist}">User List</a></li>
                    <li><a class="" th:href="@{/dashboard/admin/purchaseList}">Purchase List</a></li>
                    <li><a class="" th:href="@{/saleslist}">Sales List</a></li>
                    <!--<li><a class="" href="grids.html">Vendor Purchaselist</a></li>-->
                    <!--<li><a class="" href="grids.html">Numbering List</a></li>-->
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                     <i class="icon_documents_alt"></i>
                     <span>Uploads</span>
                     <span class="menu-arrow arrow_carrot-right"></span>
                     </a>
                     <ul class="sub">
                     <li><a class="" th:href="@{/dashboard/admin/upload}">Upload Files</a></li>
                     <li><a class="" href="login.html"><span>Get All Uploads</span></a></li>

                </ul>
            </li>
            <li>
                <a class="" href="widgets.html">
                    <i class="icon_genius"></i>
                    <span>Widgets</span>
                </a>
            </li>
            <li>
                <a class="" href="chart-chartjs.html">
                    <i class="icon_piechart"></i>
                    <span>Charts</span>

                </a>

            </li>

            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_table"></i>
                    <span>Tables</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="basic_table.html">Basic Table</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_documents_alt"></i>
                    <span>Pages</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="profile.html">Profile</a></li>
                    <li><a class="" href="login.html"><span>Login Page</span></a></li>
                    <li><a class="" href="contact.html"><span>Contact Page</span></a></li>
                    <li><a class="" href="blank.html">Blank Page</a></li>
                    <li><a class="" href="404.html">404 Error</a></li>
                </ul>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<script>
        //Clone Table
        $(document).ready(function () {
            var count = 1;

            $('.plus').on('click', function () {
                count++;

                var tblBody = $('#idJagaaBibaranTable');

                var row_to_clone = tblBody.find('tr').last();
                var row_name = row_to_clone.find('input').attr('name');

                //Find the position- its in between two square brackets
                var braces_start = row_name.indexOf('[');
                var braces_end = row_name.indexOf(']');
                var list_position = row_name.slice(braces_start + 1, braces_end);

                var row_cloned = row_to_clone.clone(true, true).appendTo(tblBody);

                console.log("list " + list_position);


                //Clear the new textfield created
                row_cloned.find('input').val('');
                row_cloned.find('selected').valueOf('');

                //Set new name for each added rows
                var new_list_position = parseInt(list_position) + parseInt("1");



                row_cloned.find('td').each(function () {

                    var name = $(this).find(':input,:selected').attr('name');
                    $(this).find(':input,:selected').attr('name', name.replace('[' + list_position + ']', '[' + new_list_position + ']'));

                });

                $('#idJagaaBibaranTable').find('tr').last().each(function () {

                });
            });
        });

        $('.minus').on('click', function () {
            var tblBody = $('#idJagaaBibaranTable');
            var row_to_clone = tblBody.find('tr').last();
            //One of the <tr> contains <th> itself.
            if (tblBody.find('tr').siblings().length > 1)
                row_to_clone.remove();

        });

        // Horizontally Scroll
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "scrollX": true
            });
        });
    </script>
</div>
</html>
